li a span {
  font-size: 11px;
  font-family: Calibri;
  color: #ffffff;
}

#container {
  background-color: #000000;
}

div div h1 {
  background-color: #000000;
  color: #ffffff;
}

div h1 strong {
  color: #ffffff;
}

aside.left-off-canvas-menu.hide-for-print {
  background-color: #434343;
  color: #ffffff;
}

li h3 a {
  color: #ffffff;
}

ul li a {
  color: #ffffff;
}

ul li h3 {
  color: #ffffff;
  background-color: #919191;
}

a.icon-more {
  color: #ffffff;
}

div.small-12.island {
  background-color: #000000;
  
}

a.title {
  color: #000000;
}

div p a {
  color: #ffffff;
}



a.icon-staff-students {
  color: #000000;
}

a.icon-settings {
  color: #000000;
}

a.icon-logout {
  color: #000000;
}

li.separator {
  color: #000000;
}

div.clearfix {
  color: #000000;
}

a.logo {
  background-color: #000000;
  color: #ffffff;
}


div div h3 {
  color: #000000;
}

div h3 a {
  color: #000000;
}

a.icon-modify {
  color: #ffffff;
}

a p b {
  color: #ffffff;
}

div a p {
  color: #ffffff;
}

a.mark-all-read.button.icon-approve {
  color: #000000;
}

a.button {
  color: #000000;
}

thead tr th {
  background-color: #000000;
  color: #ffffff;
  
}

tbody tr td {
  background-color: #000000;
}

ul.tileList {
  background-color: #000000;
}

div.small-12.card.wrap-down {
  background-color: #000000;
}

div article div {
  color: #ffffff;
}

p span a {
  color: #ffffff;
}

dl.tabs {
  background-color: #000000;
}

dl dd a {
  color: #ffffff;
}

a.icon-favourite-hollow {
  background-color: #000000;
  color: #ffffff;
}

li.actions-small-1 {
  background-color: #000000;
}

section div section {
  background-color: #000000;
}

ul li article {
  color: #ffffff;
  
}

p.meta.spaced {
  color: #ffffff;
}

a.icon-course {
  color: #000000;
  
}

li article p {
  color: #ffffff;
}

ul.information-list.reply {
  background-color: #424242;
}

span.pipe.meta {
  color: #d6d6d6;
}

div.empty-state.no-margin {
  background-color: #525252;
}

div.empty-state {
  background-color: #3c3939;
}
