/* VERSION: 1.3 */
/* CURRENTLY IN BETA */
/*
For developers:
When you are submitting a PR or committing a change please add comments to your code so other developers can understand.
Thanks, Dumbledore#5175 :)
*/

/* ---------------------- GLOBAL (overides everywhere) ---------------------- */
/* Hover dark picture effect */
@media (prefers-color-scheme: dark) {
  img {
    opacity: .75 !important;
    transition: opacity .5s ease-in-out !important;
  }
  img:hover {
    opacity: 1 !important;
  }
}

/* Adds rounded corners to pictures everywhere */
img {
  border-radius: 8px !important;
}

/* ---------------------- CLASSES PAGE ---------------------- */

/* Rounds the more menu button in the classes page */
.icon-more{
  border-radius: 100px !important;
}



/*
IMPORTANT:
Everything below is currently in beta, you have to options:
a) Delete everything below before loading your extension if you don't want the user interface to look bad.
b) Don't delete everything below if you would like to test out the latest beta features of this extension.
*/

/*
.list-item{
  border-radius: 8px !important;
}
.small-12{
  border-radius: 8px !important;
}
.v-card {
  border-radius: 8px !important;
}

Rounds the class image in the classes page in the top left and right corners
.card-class-image{
  border-radius: 8px !important;
}
*/
div.small-12.medium-6.large-4.xlarge-3.island {
  border-radius: 8px !important;
}
div.card-content.classes.actions-small-1 {
  border-radius: 8px !important;
}
