/* Please be patient as I have just recoded all this... */

/* Hover dark picture effect */
@media (prefers-color-scheme: dark) {
  img {
    opacity: .75 !important;
    transition: opacity .5s ease-in-out !important;
  }
  img:hover {
    opacity: 1 !important;
  }
}
/* Adds rounded corners to pictures */
img {
  border-radius: 8px !important;
}

/* Inverts everything (looks terrible at the moment)
body {
  filter: invert(100%) !important;
  filter: grayscale(100%) !important;
}
*/
td {
  border-radius: 100px !important;
}
.tab-bar-section {
  background-image: linear-gradient(to bottom right, #57F287, #5865F2) !important;
}
